@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: url('https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-zoom-virtual-background-_Tcjok-d9b4.jpg');
}
.wrapper{
  width: 630px;
  background: transparent;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.wrapper h1{
  color: #494f59;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 25px;
}
.wrapper h5 {
  color: #494f59;
  font-size: x-small;
  padding-top: 10px;
  padding-left: 25px;
}

.wrapper .content{
  margin: 5px 25px 35px;
}
.content .inputs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inputs input{
    height: 50px;
    width: 50px;
    margin: 2px;
    font-size: 24px;
    color: #494f59;
    text-align: center;
    border-radius: 45px;
    background: none;
    pointer-events: none;
    text-transform: uppercase;
    border: 1px solid #B5B5B5;
  }

 .typing-input {
  position: relative;
  margin-bottom: 40px;
  border: none;
  appearance: none;
  background: #B5B5B5;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  width: 150px;
  font-size: 10px;
 } 

 input:focus::placeholder {
  color: transparent;
 }

 input::placeholder {
  color: #494f59;
  transition: color 0.3s ease;
 } 
  

.content .details{
  margin: 20px 0 25px;
}
.details p{
  font-size: 11px;
  margin-bottom: 4px;
}
.content .reset-btn{
  width: 100%;
  border: none;
  cursor: pointer;
  color: #fff;
  outline: none;
  padding: 10px 0;
  font-size: 15px;
  border-radius: 25px;
  background: url('https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-zoom-virtual-background-_Tcjok-d9b4.jpg');
  transition: all 0.3s ease;
  box-shadow: 0 7px 5px rgba(0,0,0,0.1);
}
.content .reset-btn:hover{
  background: url('https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-zoom-virtual-background-_Tcjok-d9b4.jpg');
}
 .popup-btn{
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  color: #494f59;
  outline: none;
  padding: 5px 0;
  margin-bottom: 14px;
  font-size: 10.5px;
  border-radius: 45px;
  background: linear-gradient(90deg, rgba(207,224,240,1) 0%, rgba(207,224,240,1) 10%, rgba(207,224,240,1) 100%);
  transition: all 0.3s ease;
  box-shadow: 0 7px 5px rgba(0,0,0,0.1);
  position: relative;
}


h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  color: #494f59;
}

.guess-left{
  color: #494f59;
}

.wrong-letter {
  color: #494f59;
}


/* Popup container */
.popup {
  position: absolute;
  width: 300px;
  background: #fad5e4;
  border-radius: 10px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.popup-lose {
  position: absolute;
  width: 300px;
  background: #fad5e4;
  border-radius: 10px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.popup-win {
  position: absolute;
  width: 300px;
  background:#fad5e4;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

h2 {
  padding-top: 5px;
  padding-bottom: 3px;
}

.gif {
  width: 300px;
  padding-left: 5px;
  padding-right: 5px;
}

#btn {
  background-color: #494f59;
  border: none;
  color: white;
  padding: 5px 7.5px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  margin: 4px 2px;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}


h6 {
  font-size: 5px;
  color: #494f59;
  text-align: center;
  display: flex;
  padding: 0 10px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
}

